html{
  background: #ffc600;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

.panels{
  min-height: 100vh;
  overflow: hidden;
  display: flex;
}
.panel{
  backface-visibility: purple;
  color: white;
  text-align: center;
  align-items: center;
  transition:
    font-size 0.7s cubic-bezier(0.02, 0.57, 1, 0.43),
    flex 0.7s cubic-bezier(0.02, 0.57, 1, 0.43),
    background 0.2s;
  font-size: 20px;
  background-size: cover;
  position: center;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.panel p{
  margin: 8px 0;
}
.panel1{
  background-image: url("../img/photo-01.jpg");
}
.panel2{
  background-image: url("../img/photo-02.jpg");
}
.panel3{
  background-image: url("../img/photo-03.jpg");
}
.panel4{
  background-image: url("../img/photo-04.jpg");
}
.panel5{
  background-image: url("../img/photo-05.jpg");
}
